.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popup-content {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    width: 500px; // Increased width
    max-width: 90%;
    text-align: center;
    animation: fadeIn 0.3s ease-out;
    position: relative;

    .logo {
        position: absolute;
        top: 6px;
        right: 20px;
        width: 160px;
        height: 80px;
    }

    .welcome-text {
        color: #14447b;
        font-size: 22px;
        margin-top: 60px; // Positioned under the logo
        margin-bottom: 10px;
    }

    .change-password-instruction {
        color: red;
        font-size: 14px;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;

        input {
            padding: 12px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            transition: border-color 0.2s ease;

            &:focus {
                border-color: #007bff;
                outline: none;
            }
        }

        .password-container {
            position: relative;

            input {
                width: 100%;
                padding-right: 45px; // Increased padding for the icon space
                box-sizing: border-box; // Ensures the padding is included in width
            }

            .toggle-visibility {
                position: absolute;
                top: 40%;
                right: 10px;
                transform: translateY(-50%);
                cursor: pointer;
                color: #84A5C4;
            }
        }

        button {
            padding: 12px;
            background-color: #61A63E;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.2s ease;

            &:hover {
                background-color: #0056b3;
            }
        }

        .error {
            color: #ff4d4f;
            margin-top: -10px;
            margin-bottom: 10px;
            font-size: 14px;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
